/***************TAGS HTML SELECTORS*****************/
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

h1 {
  color: #66BFBF;
  line-height: 1;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}

h2 {
  color: #b2ebf2;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 3%;
  margin: 50px auto;
}

p {
  line-height: 2;
}
/***********************CLASS SELECTORS*********/
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px
}

.middle-container {
  background-color: white;
margin: 40px 0 70px 0
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.intro {
  width: 30%;
  margin: auto;
}
.top-cloud {
  position: absolute;
  right: 250px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.movies-photo {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.wd-photo {
  width: 15%;
  float: right;
  margin-left: 30px;
}

.contact-msg {
  width: 30%;
  margin: 40px auto 60px;
}

.btn {
  font-family: arial;
  color: #FFFFFF !important;
  font-size: 20px;
  text-shadow: 1px 1px 0px #fffff;
  box-shadow: 1px 1px 1px #FFFFFF;
  padding: 10px 20px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #11CDD4;
  background: linear-gradient(top,  #11CDD4,  #11999E);
  background: -ms-linear-gradient(top,  #11CDD4,  #11999E);
  background: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#11999E));
  background: -moz-linear-gradient(top,  #11CDD4,  #11999E);
}
.btn:hover {
  color: #FFFFFF !important;
  background: #468CCF;
  background: linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -ms-linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2BC4AD));
  background: -moz-linear-gradient(top,  #30E3CB,  #2BC4AD);
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
